<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        .grid
            article.card.product-item
                header.card_header
                    h1.product__title Great Book
                .card__image
                    img(src="", alt="My book")
                .card__content
                    h2.product__price $19.99
                    p.product__description A very interesting book about NodeJs and so much more
                .card__actions
                    button.btn Add to Cart
            